<footer id="footer">
  <img src="images/login/footer.png" alt="footer" class="displayed"/>
  <p id="footerLoginOben">
    edition 2016 dark night blue 1.0
  </p>
  <p class="footerLoginUnten">
    CHECK! und CHECK! Lehrerzimmer sind Produkte des Raup &amp; Ritter Verlag und der OnWerk Softwareagentur Mannheim <br>
    <a href="http://www.raupundritter.com" target="_blank" class="footerLoginUnten">www.raupundritter.com</a> - <a href="#" class="footerLoginUnten">Kontakt</a> - <a href="#" class="footerLoginUnten">Impressum</a> - <a href="#"  class="footerLoginUnten">Preise</a> - <a href="#" class="footerLoginUnten">Hilfe</a>
  </p>
</footer>
